<section class="features">
    <h2>Easy, cheesy!</h2>
    <ul>
        <li><i class="fa-solid fa-wifi"></i> Connect your Polaroid to a WiFi network</li>
        <li><i class="fa-solid fa-cloud-arrow-up"></i>Configure your favorite cloud</li>
        <li><i class="fa-solid fa-qrcode"></i> Point, shoot, and print your QR-tagged photo</li>
        <li><i class="fa-solid fa-photo-film"></i> Share your physical and digital photos with friends and family</li>
    </ul>
</section>
