<section class="newsletter">
    <h2>Be the first to know.</h2>
    <form action="#">
        <input type="email" placeholder="Enter your email address to receive updates">
        <button type="submit">KEEP IN TOUCH</button>
    </form>
</section>
